<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="778a76">  <td>18/03/27 13:40:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Invoke.Login()[pri:0, instance:com.sanity.Test_Invoke@dd0c991]">Login</td> 
  <td>main@1353530305</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>18/03/27 13:43:09</td>   <td>145916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Invoke.Provider_login()[pri:0, instance:com.sanity.Test_Invoke@dd0c991]">Provider_login</td> 
  <td>main@1353530305</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>18/03/27 13:44:25</td>   <td>221385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Invoke.Waiting_Room()[pri:0, instance:com.sanity.Test_Invoke@dd0c991]">Waiting_Room</td> 
  <td>main@1353530305</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>18/03/27 13:47:41</td>   <td>417624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Invoke.deactiv_Provider()[pri:0, instance:com.sanity.Test_Invoke@dd0c991]">deactiv_Provider</td> 
  <td>main@1353530305</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>18/03/27 13:50:12</td>   <td>568693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Invoke.message_checking()[pri:0, instance:com.sanity.Test_Invoke@dd0c991]">message_checking</td> 
  <td>main@1353530305</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>18/03/27 13:52:27</td>   <td>703876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Invoke.video_consultation()[pri:0, instance:com.sanity.Test_Invoke@dd0c991]">video_consultation</td> 
  <td>main@1353530305</td>   <td></td> </tr>
</table>
